
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FirmaLayout.cshtml";
}

<div>
    <div class="col-md-5 skil">
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Toplam Satış Sayısı</h5>
                <label>15</label>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Toplam Kazanç</h5>
                <label>1500</label>
            </div>
            <div class="clearfix"> </div>
        </div>
        <div class="content-top-1">
            <div class="col-md-6 top-content">
                <h5>Toplam Ürün Sayısı</h5>
                <label>10</label>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
    <div class="col-md-7 mid-content-top">
        <div class="middle-content">
            <h3>
                SON YÜKLENEN ÜRÜNLER
            </h3>
            <div id="owl-demo" class="owl-carousel text-center">
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="/Resim/w8.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na1.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na2.jpg" alt="name">
                </div>
                <div class="item">
                    <img class="lazyOwl img-responsive" data-src="images/na.jpg" alt="name">
                </div>
            </div>
        </div>
    </div>

</div>

